html{
    background-color:grey;
    color: red;
}
h1{
    border: 10px ;
    border-style: outset;
    border-color: green;
    border-top-color: blue;
    border-bottom-color: blue;
    border-left-color: orange;
    border-right-color: orange;
    padding: 20px;
    border-width: 10px;
    text-align: center;
    
    
}